.form__span_error {
 margin: -10px 0 0;
 color: #EE3465;
}

.form__submit_reg {
  margin: 70px 0 16px;
}

@media screen and (max-width:500px) {
  .form__submit_reg {
    width: 260px;
    margin: 150px 0 16px;
  }
}