.navtab {
  display: flex;
  justify-content: center;
}

.navtab__button {
  min-height: 36px;
  min-width: 96px;
  margin: 0 5px;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #E8E8E8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width:320px) {
  .navtab__button  {
    min-height: 26px;
    min-width: 82px;
  }
}
